TELEGRAM_TOKEN=example
MONOBANK_TOKEN=example
GOOGLE_APP_URL=https://script.google.com/macros/s/example/exec
CHAT_LIST=1332860,1244125

DATES_COLUMN_POSITION=7
COMMENTS_COLUMN_POSITION=8
VALUE_COLUMN_POSITION=9
BALANCE_COLUMN_POSITION=11

CURRENCY_ACRONYM=грн