# api
TELEGRAM_TOKEN=example
MONO_TOKEN=example
GOOGLE_APP_URL=https://script.google.com/macros/s/example/exec
CHAT_ID=1332860

# table setup
POSITION_ROW_START=2
POSITION_COLUMN_DATES=7
POSITION_COLUMN_COMMENTS=8
POSITION_COLUMN_VALUE=9
POSITION_COLUMN_BALANCE=11

# text
CURRENCY_ACRONYM=грн